@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #fafafa;
  }
} */
::-webkit-scrollbar {
  display: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "SF Pro", Arial, Helvetica, sans-serif;
}

.font-regular {
  font-family: var(--font-sf-pro-regular);
}
.font-regular-italic {
  font-family: var(--font-sf-pro-regular-italic);
}

.font-medium {
  font-family: var(--font-sf-pro-medium);
}

.font-medium-italic {
  font-family: var(--font-sf-pro-medium-italic);
}

.font-bold {
  font-family: var(--font-sf-pro-bold);
}
.font-bold-italic {
  font-family: var(--font-sf-pro-bold-italic);
}

.font-semibold {
  font-family: var(--font-sf-pro-semibold);
}
.font-semibold-italic {
  font-family: var(--font-sf-pro-semibold-italic);
}

.font-heavy {
  font-family: var(--font-sf-pro-heavy);
}
.font-heavy-italic {
  font-family: var(--font-sf-pro-heavy-italic);
}

.font-light {
  font-family: var(--font-sf-pro-light);
}
.font-light-italic {
  font-family: var(--font-sf-pro-light-italic);
}
.font-ultralight {
  font-family: var(--font-sf-pro-ultralight);
}
.font-ultralight-italic {
  font-family: var(--font-sf-pro-ultralight-italic);
}
.font-black {
  font-family: var(--font-sf-pro-black);
}
.font-black-italic {
  font-family: var(--font-sf-pro-black-italic);
}
.font-thin {
  font-family: var(--font-sf-pro-thin);
}
.font-thin-italic {
  font-family: var(--font-sf-pro-thin-italic);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  header {
    @apply fixed top-0 w-full z-50 bg-background shadow-lg;
    nav {
      @apply w-full h-16 flex flex-row justify-center place-items-center
             gap-5 font-light text-sm;
    }
  }
  footer {
    @apply w-full sm:w-1/2 place-self-center
           flex flex-col justify-start items-center   
           font-light text-xs text-gray-500 py-5 px-5;
    nav {
      @apply flex flex-row justify-between place-items-center
             gap-5 font-light 
             text-gray-700;
    }
  }

  main {
    @apply mt-16;
  }

  main.home {
    @apply flex flex-col justify-start pl-5 md:pl-32 pb-10;
  }

  main.access {
    @apply flex flex-col justify-start items-center px-5 md:px-32;
  }

  section {
    @apply flex flex-col justify-center items-center;
  }
  section.access {
    @apply sm:w-1/2;
  }
  .section-title {
    @apply w-full text-3xl sm:text-4xl md:text-5xl text-left
           font-semibold text-gray-500 py-10 sm:py-28;
  }

  .section-title.secondary {
    @apply font-semibold text-black py-10 sm:py-24 sm:text-4xl;
  }

  .section-subtitle {
    @apply w-full text-2xl md:text-3xl text-left
           font-semibold text-gray-500 pt-5 pb-2;
  }
  .section-content {
    @apply w-full flex flex-col justify-between items-center gap-5;
  }

  /* Categories */
  .category-container {
    @apply w-full flex flex-row justify-start items-center gap-10 overflow-scroll pb-5;
  }

  .category-card {
    @apply h-28 w-28 flex-shrink-0 flex flex-col justify-between items-center gap-2
           font-semibold text-sm;
  }

  /* Text */
  .text-container {
    @apply w-full flex flex-col justify-between items-center;
  }

  /* Products */
  .product-card-container {
    @apply w-full flex flex-row justify-start items-center
    pb-12 pt-3 px-3 gap-5
    overflow-x-scroll overflow-y-visible;
  }
  .product-card {
    @apply h-[450px] w-[250px] sm:w-[300px] 
    relative flex-shrink-0 flex flex-col justify-between items-center 
    p-7 gap-5 overflow-hidden
    font-semibold text-left
    bg-white rounded-3xl shadow-lg
    hover:cursor-pointer hover:scale-105 ease-in-out transition-transform duration-300;
    h1 {
      @apply w-full text-2xl;
    }
    p {
      @apply w-full text-lg font-light;
    }
    img {
      @apply absolute bottom-0 right-0;
    }
  }
  .product-card.featured {
    @apply h-[450px] w-[300px] sm:w-[450px] 
           bg-gray-200;
  }
}
